@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root{
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing:border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  /* padding: 1rem; */
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 0;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

/* .centered {
  display: flex;
  flex-wrap: wrap;

  margin-left: -8px;
  margin-right: -8px;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
} */

/* @media screen and (min-width: 40em) {
  
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:2rem;
  margin: 4rem 5vw;
  padding: 0;
}

.product__card{
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(40*1px);
  overflow: hidden;
}
}
@media screen and (min-width: 60em) {
  .card {
      flex: 0 1 calc(25% - 1em);
  }
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
} */


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row:span;
  gap: 2rem;
  margin: 5%;
  padding: 0;
  list-style-type:none;
}

.card {
  margin-top: 2%;
  width: 300px;
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height:fit-content;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
  background-color: #080808;
  opacity: 85%;
}

.card:hover .card__overlay {
  transform: translateY(0);
  opacity: 100%;
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  background-color: #080808;
  opacity: 85%;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  /* d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); */
}       

.card:hover .card__header {
  transform: translateY(0);
  opacity: 100%;
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 2em;
  margin: 0 0 .3em;
  color: #eed7e3;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__price {
  font-size: .8em;
  color: #D7BDCA;
  font-weight: bolder;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.btn {
  margin: 5%;
  margin-left: 35%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background: inherit;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: whitesmoke;
  color: rgb(255, 89, 23);
}